@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;900&display=swap");

header {
  background-color: lavender;
  padding: 10px;
  display: flex;
}

header .header-info {
  margin-left: 50px;
}

.game-content {
  height: calc(100vh - 37px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.box {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.box[wobble="1"] {
  animation: boxAnimation 0.09s 1;
}

.box-info {
  margin-bottom: 30px;
}

@keyframes boxAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 3px;
}

.numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.numbers-card {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.numbers-count {
  font-size: 5em;
  font-weight: 900;
}
